<!-- ========== Left Sidebar Start ========== -->

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div class="user-details">
            <div class="pull-left">
                {% if app.user.image is not null %}
                    <img
                            src="{{ asset(app.user.image.AssetPath) }}"
                            alt="{{ app.user.username }}"
                            class="thumb-md img-circle"
                    />

                {% else %}
                    <img src="{{ asset('Resources/public/images/avatar-1.jpg') }}" class="thumb-md img-circle" alt="profile-image">
                {% endif %}
            </div>
            <div class="user-info">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle">{{ app.user.username }}</a>
                </div>
                <p class="text-muted m-0">{{ app.user.email }}</p>
            </div>
        </div>
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li>
                    <a href="{{ path('admin_advert_index')}}" class="waves-effect active"><i class="md md-home"></i><span> Dashboard </span></a>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="md md-list"></i><span> Annonces </span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('admin_advert_index')}}">Liste des annonces</a></li>
                        <li><a href="{{ path('admin_platform_purge',{'days':20}) }}">Purger avec  days=20</a></li>
                        <li><a href="{{ path('admin_platform_purge',{'days':1}) }}">Purger avec  days=1</a></li>
                    </ul>
                </li>

                <li>
                    <a href="{{ path('admin_category_index') }}" class="waves-effect"><i class="md md-collections"></i><span> Categories </span></a>
                </li>
                <li>
                    <a href="{{ path('admin_skill_index') }}" class="waves-effect"><i class="md md-add-box"></i><span> Skills </span></a>
                </li>

                <li>
                    <a href="{{ path('admin_utilisateur_index') }}" class="waves-user"><i class="md md-verified-user"></i><span> Utilisateurs </span></a>
                </li>

                <li>
                    <a href="{{ path('admin_page_index') }}" class="waves-effect"><i class="md md-pages"></i><span> Pages </span></a>
                </li>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}" class="waves-effect"><i class="md md-close"></i><span> Déconnexion </span></a>
                    </li>

                {% endif %}

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->
